<header>
    <nav class="navbar navbar-expand-sm nav nav-pills flex-column flex-sm-row">
        <div class="container">
            <h1 class="nav-header nav-item navbar-brand">DRIVER DASHBOARD</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav nav nav-fill w-100">
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/vehicle">Vehicle Dashboard</a>
                    </li>
                    {{#if loggedIn}}
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/#" id="logout">Logout</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</header>


<div class="d-flex justify-content-md-center">
    <button class="btn btn-dark btn-lg btn-rounded btn-elegant add-driver" data-toggle="modal"
        data-target="#add-driver-modal">+ Add Driver</button>
</div>


{{!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////
       Handle bars for the 'driver' dashboard page --}}

<div class="container card-form">
    <div class="row d-flex justify-content-md-center h-100">
        {{#each drivers}}
        {{#if this.id}}
        <div class="col-sm-4 m-4 align-items-left card ">
            <div class="card-header">
                <h2>Driver: {{this.driver.id}}</h2>
                <h4 class="display-label">Name: <span id="card-data">{{this.driver.first_name}}
                        {{this.driver.last_name}}</span></h4>
            </div>
            <div class="card-body">
                <img src="https://auto-tracker-bucket.s3.us-east-2.amazonaws.com/1605226583546" alt="">
                {{!-- add image form here --}}
                <form method="POST" class="upload-form" action="/image-upload" enctype="multipart/form-data">
                    <div class="image-btn">
                        <label>Select your profile picture:</label>
                        <input type="file" name="image" />
                    </div>
                    <div class="image-btn">
                        <input type="submit" name="btn_image_upload" value="Upload" />
                    </div>
                </form>
                <h4 class="display-label">Vehicle: <span id="card-data">{{this.make}} {{this.model}}</span></h4>
                <h4 class="display-label">Relation: <span id="card-data">{{this.driver.relation}}</span></h4>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
    {{> driver-modal}}
</div>

<script src="/javascript/logout.js"></script>
