<header>
    <nav class="navbar navbar-expand-sm nav nav-pills flex-column flex-sm-row">
        <div class="container">
            <h1 class="nav-header nav-item navbar-brand">DRIVER DASHBOARD</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav nav nav-fill w-100">
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/vehicle">Vehicle Dashboard</a>
                    </li>
                    {{#if loggedIn}}
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/#" id="logout">Logout</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</header>


<div class="d-flex justify-content-md-center">
    <button class="driver-label btn btn-dark btn-lg btn-rounded btn-elegant add-driver" data-toggle="modal"
        data-target="#add-driver-modal"><i class="fal fa-plus-square"> Add <i class="far fa-user-friends"></i></i></button>
</div>


{{!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////
       Handle bars for the 'driver' dashboard page --}}
<div class="container card-form ">
    <div class="row d-flex justify-content-md-center ">

        {{#each drivers}}
        {{#if this.id}}
        <div class="col-sm-4 m-4 align-items-center card card-cursor overflow-auto">
            
            <div class="card-header display-label">
                <h2>{{this.first_name}}
                    {{this.last_name}}</h2>
            </div>
            <div class="card-body">
                <img class="driver-image img-responsive" src="{{this.image_url}}" alt="">
                {{!-- <h4 class="display-label">Vehicle: <span id="card-data">{{autos.make}} {{autos.model}}</span></h4> --}}
                <h4 class="driver-label align-items-center">Relation: &nbsp<span id="card-data">{{this.relation}}</span></h4>
                
                <div class="row d-flex justify-content-md-center">
                    <div class="d-flex justify-content-md-space-around align-items-center">
                        {{> delete-driver}}
                    </div>
                </div>

            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
    {{> driver-modal}}
</div>

<script src="/javascript/logout.js"></script>