 


<header>
    <nav class="navbar navbar-expand-sm nav nav-pills flex-column flex-sm-row">
        <div class="container">
            <h1 class="nav-header nav-item navbar-brand " href="#">VEHICLE DASHBOARD</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav nav nav-fill w-100">
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/driver">Driver Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<div class="d-flex justify-content-md-center">
    <button class="btn btn-dark btn-lg btn-rounded btn-elegant add-vehicle">+ Add Vehicle</button>
</div>

{{!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////
       Handle bars for the 'vehicle' dashboard page --}}
<div class="container card-form">

    <div class="row d-flex justify-content-md-center h-100">
        {{#each this}}
        {{#if this.id}}
        <div class="col-sm-4 m-4 align-items-center card ">
            <div class="card-header">
                <H2>Vehicle: {{this.id}}</H2>
            </div>
            <div class="card-body">
                <img src="https://via.placeholder.com/150" alt="">
                <h4>Make: {{this.make}}</h4>
                <h4>Model: {{this.model}}</h4>
                <h4>Year: {{this.year}}</h4>
                <h4>Driver: {{this.driver.first_name}} {{this.driver.last_name}} </h4> 
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>

</div>
