<header>
    <nav class="navbar navbar-expand-sm nav nav-pills flex-column flex-sm-row">
        <div class="container">
            <h1 class="nav-header nav-item navbar-brand">VEHICLE DASHBOARD</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav nav nav-fill w-100">
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/driver">Driver Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<div class="d-flex justify-content-md-center">
    <button class="btn btn-dark btn-lg btn-rounded btn-elegant add-vehicle" data-toggle="modal"
        data-target="#add-auto-modal">+ Add Vehicle</button>
</div>

{{!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////
       Handle bars for the 'vehicle' dashboard page --}}
<div class="container card-form">
    <div class="row d-flex justify-content-md-center h-100">
        {{#each this}}
        {{#if this.id}}
        <div class="col-sm-4 m-4 align-items-center card card-cursor" data-toggle="modal"
            {{!-- use this.id to know which modal was clicked and display the correct modal --}}
            data-target="#view-auto-modal-{{this.id}}">
            <div class="card-header">
                <h2>Vehicle: {{this.id}}</h2>
            </div>
            <div class="card-body">
                <img src="https://via.placeholder.com/150" alt="">
                <h4 class="display-label">Make: <span id="card-data">{{this.make}}</span></h4>
                <h4 class="display-label">Model: <span id="card-data">{{this.model}}</span></h4>
                <h4 class="display-label">Year: <span id="card-data">{{this.year}}</span></h4>
                <h4 class="display-label">Driver: <span id="card-data">{{this.driver.first_name}}
                        {{this.driver.last_name}}</span> </h4>
            </div>
        </div>
        {{> view-vehicle-modal}}
        {{/if}}
        {{/each}}
    </div>
    {{> add-vehicle-modal}}
</div>