<header>
    <nav class="navbar navbar-expand-sm nav nav-pills flex-column flex-sm-row">
        <div class="container">
            <h1 class="nav-header nav-item navbar-brand">VEHICLE DASHBOARD</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav nav nav-fill w-100">
                    <li class="nav-item">
                        {{#if loggedIn}}
                        <a class="nav-item nav-link" href="/driver">Driver Dashboard</a>
                        {{/if}}
                    </li>

                    <li class="nav-item">
                        {{#if loggedIn}}
                        <a class="nav-item nav-link" href="/#" id="logout">Logout</a>
                        {{/if}}
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="d-flex justify-content-md-center">
    <button class="btn btn-dark btn-lg btn-rounded btn-elegant add-vehicle" data-toggle="modal"
        data-target="#add-auto-modal">+ Add Vehicle</button>
</div>

{{!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////
       Handle bars for the 'vehicle' dashboard page --}}
<div class="container-fluid card-form">
    <div class="row d-flex justify-content-md-center ">

        {{#each autos}}
        {{#if this.id}}
        <div id="vehicle-card" class="col-sm-4 m-4 align-items-center card card-cursor overflow-auto">

            <div class="card-header display-label">
                <h2>{{this.make}} <span>{{this.model}}</span></h2>
            </div>
            <div class="card-body">
                <img class="car-image img-responsive" src="{{this.image_url}}" alt="">
                <div class="m-4 align-items-center">
                    <h4 class="display-label"> Driver: <span id="card-data">{{this.driver.first_name}}
                            {{this.driver.last_name}}</span> </h4>
                </div>
            </div>

            {{!-- use this.id to know which modal was clicked and display the correct modal --}}
            <div class="row">
                <button class="btn btn-dark btn-lg btn-rounded btn-elegant add-vehicle" data-toggle="modal"
                    data-target="#update-auto-modal-{{this.id}}">+ Update Vehicle</button>
                <button class="btn btn-dark btn-lg btn-rounded btn-elegant add-vehicle" data-toggle="modal"
                    data-target="#view-auto-modal-{{this.id}}">+ View Vehicle</button>
                {{> delete-vehicle}}
            </div>
        </div>
        {{> view-vehicle-modal}}
        {{> update-vehicle-modal}}

        {{/if}}
        {{/each}}
    </div>
    {{> add-vehicle-modal}}
</div>

<script src="/javascript/logout.js"></script>
<script src="/javascript/modify-vehicle.js"></script>